<!DOCTYPE html>
<html>
<head>
	<title>Tables Demo</title>
</head>
<body>
	<h1>Tables in HTML </h1>
	<p>
		Good afternoon!, Lets learn about Tables in HTML5<br/>
		Table object will have tr elements in it. Each tr contains one or more td:table data. First row could have optionally th(table header) instead of td.
	</p>
	<table border="1">
		<tr>
			<th>Expense ID</th>
			<th>Expense Date</th>
			<th>Expense Details</th>
			<th>Expense Amount</th>
		</tr>
		<tr>
			<td>1</td>
			<td>26/09/2018</td>
			<td>Petrol to bike</td>
			<td>1000</td>
		</tr>
		<tr>
			<td>2</td>
			<td>25/09/2018</td>
			<td>Shopping in DMart</td>
			<td>4500</td>
		</tr>
		<tr>
			<td>3</td>
			<td>25/09/2018</td>
			<td>Room rent</td>
			<td>3500</td>
		</tr>
		<tr>
			<td>4</td>
			<td>24/09/2018</td>
			<td>Mobile recharge</td>
			<td>499</td>
		</tr>
		<tr>
			<td>5</td>
			<td>24/09/2018</td>
			<td>Coffee in Indian Coffee House</td>
			<td>100</td>
		</tr>

	</table>
</body>
</html>