<!DOCTYPE html>
<html>
<head>
	<title>Formats of HTML pages</title>
	<link rel="stylesheet" type="text/css" href="../Content/myStyle.css">
</head>
<body>
	<h1>Formating Tags of HTML</h1>
	<p>
		Formatting is a process of presenting the text for a better look and feel. This is also used to draw the attention of the user towards that text upon which U could find more emphasis or additional information about it.
		Some of the formats commonly used:
		<p><b>Bold content of the text</b></p>
		<p><i>Italic content of  the text</i></p>
		<p><u>Underlined content of the text</u></p>
		<p>The Mark content <mark>will  be highlighted to draw the attention of the user</mark></p>
		<p>The content that U want to display 
			<pre> 
				As it is which should include
				Text, content with lining
				alignment and so forth
			</pre>
			can be done with pre tag.
	</p> 
	<p>
		Any important quotations could be placed under the q tag
		<br/>
		Mahathma Gandhi had said:
		<q>
			An Eye for an Eye makes the whole world blind
		</q>
	</p>
	<p>U could use superscript content for <sup>half sized content. </sup> which will be lesser compared to the rest of the charecters in the page.
	</p>
	<p>The coding content could be placed under
		<code>
			function jsFunc(){
				console.log("Test123");
			}
		  jsFunc();//method is called...
		</code>
	</p>
</body>
</html>