<!DOCTYPE html>
<html>
	<head>
		<title>About HTML</title>
		<link rel="stylesheet" type="text/css" href="E:\Programs\CDAC_Aug2018\AwpTraining\Content\myStyle.css">
	</head>
	<body>
		<h1>Advanced Web Programming</h1>
		<article>
			<header>
				<h3>About Web Programming</h3>
			</header>
			<section>
				<p>
					Advanced Web programming is a module in DAC course to facilitate participants about the Web technologies that are popularly used in the industry.
					<br/> The course majorly focusses on the following aspects:
					<ol type="i">
						<li><a href="AboutHTML.html">HTML</a></li>
						<li>PHP</li>
						<li>XML</li>
						<li>JSON</li>
						<li>CSS and Bootstrap</li>
					</ol>
				</p>
			</section>
		</article>
	</body>
</html>